@import "../../../assets/styles/variables";

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  .item {
    border: 1px solid @border;
    transition: all .4s;
    &:hover {
      box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
      cursor: pointer;

      .item-img {
        &:before {
          content: '';
          display: block;
          position: absolute;
          transition: all .4s;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: @hover;
        }
      }
    }

    &-img {
      height: 180px;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: flex-end;
      position: relative;
    }

    &-city {
      padding: 20px;
      font-family: @MR;
      font-size: 13px;
      color: #fff;
      position: relative;
      z-index: 2;
    }

    &-content {
      padding: 20px 20px 10px;
    }

    &-ttl {
      font-family: @MR;
      color: @text;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px 30px;
    }

    &-category {
      font-size: 13px;
      color: #a6a9af;
      font-family: @RM;
    }

    &-price {
      font-family: @MB;
    }
  }
}
