<div class="cards-wrapper">
  <div class="item" *ngFor="let item of data | city: filter.city | category: filter.category | price: filter.price">
    <div class="item-img" style="background-image: url('../../../assets/imgs/demo-1.jpg');">
      <div class="item-city">City: {{ item.city}} </div>
    </div>
    <div class="item-content">
      <div class="item-ttl">{{ item.name }}</div>
    </div>
    <div class="item-footer">
      <div class="item-category">Category: {{ item.category }}</div>
      <div class="item-price">${{ item.price }}</div>
    </div>
  </div>
</div>
