@import "fonts.css";
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.cards-wrapper .item {
  border: 1px solid #e9e9e9;
  transition: all .4s;
}
.cards-wrapper .item:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.cards-wrapper .item:hover .item-img:before {
  content: '';
  display: block;
  position: absolute;
  transition: all .4s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(28, 184, 255, 0.7);
}
.cards-wrapper .item-img {
  height: 180px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.cards-wrapper .item-city {
  padding: 20px;
  font-family: 'Montserrat-R', sans-serif;
  font-size: 13px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.cards-wrapper .item-content {
  padding: 20px 20px 10px;
}
.cards-wrapper .item-ttl {
  font-family: 'Montserrat-R', sans-serif;
  color: #33363e;
}
.cards-wrapper .item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 30px;
}
.cards-wrapper .item-category {
  font-size: 13px;
  color: #a6a9af;
  font-family: 'Raleway-M', sans-serif;
}
.cards-wrapper .item-price {
  font-family: 'Montserrat-Bold', sans-serif;
}
/*# sourceMappingURL=list.component.css.map */