<aside>
  <form [formGroup]="form"
        (submit)="filter()">
    <div class="category-box">
      <div class="ttl">city</div>
      <select name="city"
              formControlName="city">
        <option disabled selected>Select city</option>
        <option *ngFor="let city of cities"
                [value]="city.id">{{city.name}}</option>
      </select>
    </div>

    <div class="category-box">
      <div class="ttl">categories</div>
      <div class="checkbox-button" *ngFor="let category of categories">
        <label>
          <input name="{{ category.id }}"
                 type="checkbox"
                 (change)="onCheckChange($event)"
                 [value]="category.id">
          <span class="link">{{ category.name }}</span>
        </label>
      </div>
    </div>

    <div class="category-box">
      <div class="ttl">price</div>
      <range-slider [min]="min1" [max]="max1" [step]="step"
                    formControlName="price"
                    [toolTips]="[false,false]"
                    [(ngModel)]="twoWayRange"
                    [highlightClass]="'stephighlightClass'" [barClass]="'stepBarClass'"
                    [sliderClass]="'stepSliderClass'"></range-slider>
      <div class="range-wrapper">
        <div class="range-result">
          $<span>{{twoWayRange[0]}}</span> - $<span>{{twoWayRange[1]}}</span>
        </div>
        <button type="submit"
                class="btn">filter</button>
      </div>
    </div>
  </form>
</aside>
