@import "fonts.css";
.ttl {
  font-size: 18px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #33363e;
}
/*form*/
select {
  height: 40px;
  border: 1px solid #dee0e1;
  padding: 0 15px;
  font-family: 'Raleway-M', sans-serif;
  font-size: 15px;
  color: #4c505b;
  width: 100%;
}
.category-box {
  margin-bottom: 60px;
}
@media only screen and (max-width: 480px) {
  .category-box {
    margin-bottom: 30px;
  }
}
.checkbox-button {
  position: relative;
  margin-bottom: 16px;
}
.checkbox-button label {
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: 'Raleway-M', sans-serif;
  font-size: 15px;
  color: #4c505b;
}
.checkbox-button label span {
  font-size: 16px;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: 25px;
}
.checkbox-button label span:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid #1cb8ff;
  background-color: white;
  text-align: center;
}
.checkbox-button label span:before {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(0, -300%);
  content: '\f00c';
  font-family: 'FontAwesome', sans-serif;
  color: #1cb8ff;
  z-index: 2;
}
.checkbox-button input[type=checkbox] {
  cursor: pointer;
  position: relative;
  display: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition: all 0.3s;
  overflow: hidden;
}
.checkbox-button input[type=checkbox]:checked + span:before {
  transform: translate(0, -50%);
}
.range-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-result {
  font-family: 'Montserrat-R', sans-serif;
  font-size: 16px;
  color: #33363e;
}
.btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'Montserrat-R', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background: #1cb8ff;
  border: 2px solid #1cb8ff;
  transition: all .4s;
  cursor: pointer;
}
.btn:hover {
  background: #fff;
  color: #1cb8ff;
  box-shadow: 2px 2px 5px rgba(28, 184, 255, 0.7);
}
.btn:active {
  box-shadow: 2px 2px 2px rgba(28, 184, 255, 0.7) inset;
}
/*# sourceMappingURL=category.component.css.map */