@import "../../../assets/styles/variables";

.ttl {
  font-size: 18px;
  font-family: @MB;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: @text;
}

/*form*/
select {
  height: 40px;
  border: 1px solid #dee0e1;
  padding: 0 15px;
  font-family: @RM;
  font-size: 15px;
  color: @g-text;
  width: 100%;
}

.category-box {
  margin-bottom: 60px;

  @media @mobile-xs {
    margin-bottom: 30px;
  }
}

.checkbox-button {
  position: relative;
  margin-bottom: 16px;

  label {
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: @RM;
    font-size: 15px;
    color: #4c505b;

    span {
      font-size: 16px;
      width: auto;
      height: auto;
      display: inline-block;
      margin-left: 25px;

      &:after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin: 0;
        border: 1px solid @blue;
        background-color: white;
        text-align: center;
      }

      &:before {
        transition: all 0.4s;
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translate(0, -300%);
        content: '\f00c';
        font-family: 'FontAwesome', sans-serif;
        color: @blue;
        z-index: 2;
      }
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    position: relative;
    display: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition: all 0.3s;
    overflow: hidden;
  }

  input[type=checkbox]:checked + span:before {
    transform: translate(0, -50%);
  }
}

.range-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-result {
  font-family: @MR;
  font-size: 16px;
  color: @text;
}

.btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  font-family: @MR;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background: @blue;
  border: 2px solid @blue;
  transition: all .4s;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: @blue;
    box-shadow: 2px 2px 5px @hover;
  }

  &:active {
    box-shadow: 2px 2px 2px @hover inset;
  }
}
