@import "../../../assets/styles/variables";

.wrapper-container {
  max-width: 1200px;
  padding: 50px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 60px;

  @media @desktop {
    grid-gap: 30px;
  }

  @media @tablet, @mobile {
    grid-template-columns: 200px 1fr;
  }

  @media @mobile-xs {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

