@import "fonts.css";
.wrapper-container {
  max-width: 1200px;
  padding: 50px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 60px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .wrapper-container {
    grid-gap: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .wrapper-container {
    grid-template-columns: 200px 1fr;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
/*# sourceMappingURL=home.component.css.map */